.game-area{
    top:0px;
    position: relative;
    margin: 10px auto;
    width: 600px;
    height: 480px;
    border:2px solid white;
    background-color: white;
}

.snake-dot{
    position: absolute;
    width:2%;
    height:2%;
    background-color:black;
    border:1px solid white;
    z-index:2;
}

.snake-food{
    position: absolute;
    width:2%;
    height:2%;
    background-color:rgb(255, 0, 0);
    border:1px solid white;
    z-index: 1;
}

.main
{
    width: 1250px;
    height: 630px;
    left:0px;
    top:0px;
    background-color: black;
}

.button {
    top:70px;
    left:70px;
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    cursor: pointer;
    padding:32px 16px;
    width:100%;
  }

  .text
  {
    position: absolute;
    text-align: center;
    top:60px;
    left:280px;
    font-size: 100px;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);

  }